/* jshint esversion:6 */

body {
  background-color: #171717;
  background-image: url(bgimgfull.png);

  /*2nd try parallax CSS+JS*/
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    height: 80vh;
    /* width: 100%; */
    /* background-repeat: no-repeat; */


  /* padding-top: 75px; */       /*   to correctly set navbar */
}

/*1st try parallax*/
/* .parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

h1 {
  color: #DDDDDD;
  text-align: center;
  margin: 0 auto;            /* To cover a strange little abyss below */
}

 h3 { /*some name */
  color: #DDDDDD;
  font-family: 'Dela Gothic One', cursive;
  margin-bottom: 1.5rem;
  text-align: center;

}

span {       /* Brand on the bottom */
  font-family: 'Gruppo', cursive;
  font-size: 1.7rem;
  font-weight: 400;
}

.nav-move {                     /* A div for correct navbar moving */
  padding: 100px 0;
}

/*///////////////////////////////////////////////////////////////////////////////////Navbar ///////////////////////////////////////////////////////////////////////////////////////*/

.navbar {
  padding-left: 3rem;
  padding-right: 8.9rem;          /* left-padding + logo padding but from the right; v.1: 7.2rem v.2: 8.1*/
}

@media (max-width: 991px) {
  .navbar {
    line-height: 4;
    padding-right: 3rem;
  }

  .nav-move {                     /* A div for correct navbar moving */
    padding: 200px 0;
  }

  body {
    background-image: url(bgimgsmall.png);  /* New version of background image for smaller screens */
  }

}

@media (max-width: 576px) {
  .navbar {
    line-height: 4;
  }
  .nav-move {                     /* A div for correct navbar moving */
    padding: 200px 0;
  }
}

.navbar-brand {
  color: #DDDDDD;
  margin: 1px;
  font-family: 'Gruppo', cursive;
  font-size: 2rem;
  font-weight: 400;
}

.nav-item {
  font-weight: 800;
  margin: 0 1.5rem;
}

.dropdown-menu {
  background-color: #f8f9fa;
}
/*///////////////////////////////////////////////////////////////////////////////////Navbar ///////////////////////////////////////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////////////////////////////////Main Content///////////////////////////////////////////////////////////////////////////////////////*/
.infobox {
  margin: 0 auto;
  padding: 70px 30px;
  width: 90%;
}

/* Wapka */

#about-us {
  background-color: #171717;
  border-radius: 0 0 0 100%;
  box-shadow: 0 30px 55px black;
  color: white;
  height: 90vh;
  padding-left: 14%;
  position: relative;
  right: 14%;        /* old:240px       !!!FINALLY wapka solved: position: relative, right: 14%, width: 114%, padding-left: 14%; !!!*/
  width: 114%;

  color: #DDDDDD;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}


/* #photography .infobox, #social-media .infobox {
  background-color: #940A35;
  height: 400px;
} */

.content-cell {
  margin-top: 4rem;
}

.content-video {
  display: block;
  margin: auto;
}

.content-photo {
  display: block;
  margin: auto;
  width: 300px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////////Services ///////////////////////////////////////////////////////////////////////////////////////*/
#services {
  background-color: #171717;
  border-radius: 100% 0 0 0;
  box-shadow: 0 -30px 55px black;
  color: white;
  height: 90vh;
  padding-left: 14%;
  position: relative;
  right: 14%;
  width: 114%;


  color: #DDDDDD;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////Contacts / Contacts Icons ///////////////////////////////////////////////////////////////////////////////////////*/

#contacts .infobox {
  background-color: #940A35;
  width: 100%;
}


.contact-heading {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.fa-map-marker-alt {
  margin-top: 1.5rem
}


.contact-icon {
  padding: 2% 7%;
  font-weight: 800;
}


.social-links {
  padding-top: 5rem;
}


.icon {
  color: #black;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#footer p {
  background-color: #171717;
  color: #DDDDDD;
  font-weight:  500;
  height: 80px;
  padding: 20px;
  text-align: center;
}
